body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("logo.png");
    background-size: cover;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.nav {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: blue;
}

.main {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 20px;
}

.about-us {
    grid-column: 1 / -1; 
}

.about-us h2 {
    text-align: center;
}

.about-us p {
    text-align: justify;
}

.about-us iframe {
    display: block;
    margin: center;
}

.target {
    
    grid-column: 1 / -1;
}

.target h2 {
    text-align: right;
}

.target p {
    text-align: justify;
}

.mission {
    
    grid-column: 1 / -1; 
}

.mission h2 {
    text-align: right;
}

.mission p {
    text-align: justify;
}

.vision {
    
    grid-column: 1 / -1; 
}

.vision h2 {
    text-align: right;
}

.vision p {
    text-align: justify;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

 /* استخدام الخاصية media queries لتحديد أنماط مختلفة لأحجام شاشات مختلفة */

 /* عندما يكون عرض الشاشة أقل من أو يساوي 600 بكسل */
 
 @media (max-width: 600px) {
   /* تغيير خلفية الرأس إلى اللون الأخضر */
   .header {
       background-color: #333; 
   }
   
   /* تغيير توجيه العناصر في شريط التنقل إلى عمودي */
   .nav {
       flex-direction: column; 
   }
   
   /* تغيير خلفية التذييل إلى اللون البرتقالي */
   .footer {
       background-color: #333; 
   }
   
   /* تغيير حجم الخط في القسم الرئيسي إلى أصغر */
   .main {
       font-size: 0.8em;
   }
 }
